@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
	background: linear-gradient(#2b1055,#7597de);
}

header{
    background-image: url('{% static "images/hero1.svg" %}');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que las estrellas estén detrás del contenido */
}

.stars img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen de las estrellas para cubrir toda la sección */
}

.header-content {
    position: relative; /* Asegúrate de que el contenido del encabezado esté posicionado de manera relativa */
    z-index: 1; /* Asegúrate de que el contenido del encabezado esté delante de las estrellas */
    color: white; /* Ajusta el color del texto del encabezado para que se vea bien sobre el fondo oscuro de las estrellas */
}


.container{
    max-width: 1100px;
    margin: 0 auto;
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo{
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #0eaef0;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    display: flex;
}

.content{
    padding: 150px 150px 0px 0px;
}

.content h1{
    color: #ffffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 500px;
    line-height: 55px;
}

.content p{
    margin-top: 25px;
    color: #aab1ff;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
}

.btn-1{
    display: inline-block;
    background-color: rgba(170, 177, 255, 0.3);
    border: 1px solid #aab1ff;
    margin: 35px 10px 0px 0px;
    padding: 15px 25px;
    color: #ffffff;
    border-radius: 25px;
}

.btn-1:hover{
    background-color: #aab1ff;
}

.services{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service{
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(135, 141, 214, 0.5);
}

.service img{
    width: 100px;
    height: 100px;
}

.service h3{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.service p{
    color: #ffffff;
    font-size: 16px;
}

.portafolios{
    padding: 80px 0px;
    text-align: center;
    color: #0e0e0e;
}

.porfolio h2{
    font-size: 55px;
}

.porfolio{
    display: flex;
    align-items: center;
}

.porfolio img{
    width: 350px;
}

.porfolio-1{
    text-align: left;
    margin-left: 100px;
}

.porfolio-1 h3{
    font-size: 35px;
    margin-bottom: 15px;
    color: #ffffff;
}

.porfolio-1 p{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
}

.porfolio-2{
    text-align: left;
    margin-right: 100px;
}

.porfolio-2 h3{
    font-size: 35px;
    margin-bottom: 15px;
    color: #ffffff;
}

.porfolio-2 p{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
}

.btn-2{
    display: inline-block;
    padding: 15px 25px;
    border-radius: 25px;
    background-color: #7042b5;
    color: #ffffff;
}

.btn-2:hover{
    background-color: #8650d7;
}

footer{
    padding: 200px 0px 30px 0px;
    background-image: url('{% static "images/footer.svg" %}');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-content{
    display: flex;
}

.info-price{
    padding: 35px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    margin: 0px 150px 0px 0px;
    color: #0e0e0e;
}

.info-price h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.price{
    font-size: 20px;
    color: #0eaef3 !important;
    margin-bottom: 10px;
}

.price p{
    font-size: 16px;
    color: #525254;
}

.info-txt{
    margin-left: 35px;
    color: #0e0e0e;
}

